

p{
    background-color: aqua;
}


/*pseudo-selektory*/
p#par1::before {
    content: '*';
    color: #fff;
    font-size: 3em;
}

p#par2::first-line{
    color: forestgreen;
    
}

p#par2::first-letter{
    font-size: 3em;
}

/*pseudo-klasy*/

a:visited {
    color: chartreuse;
}

a:hover{
    color: fuchsia;
    font-size: 2em;
}

input:focus{
    background-color: bisque;
}

p:target{
    
    background-color: dimgray;
}

p:lang(pl){
    background-color: aliceblue;
}

li:first-child{
    font-size: 3em;
}

li:last-child{
    font-size: 4em;
}

p span:only-child{
    
    color: fuchsia;
}

div:empty{
    width: 600px;
    height: 200px;
    background-color: blue;

}

/*co któreś dziecko*/
li:nth-child(odd){
    background-color: dodgerblue;
}

li:nth-child(4){
   background-color: orange;
}

li:nth-child(3n){
    background-color: black
}