*{
    background-color: beige;
}

p{
    background-color: aqua;
}


/*pseudo-selektory*/
p#par1::before {
    content: '*';
    color: #fff;
    font-size: 3em;
}

p#par2::first-line{
    color: forestgreen;
    
}

p#par2::first-letter{
    font-size: 3em;
}

/*pseudo-klasy*/

a:visited {
    color: chartreuse;
}

a:hover{
    color: fuchsia;
    font-size: 2em;
}