*{
    background-color: beige;
}

p{
    background-color: aqua;
}

p#par1::before {
    content: '*';
    color: #fff;
    font-size: 3em;
}

p#par2::first-line{
    color: forestgreen;
    
}

p#par2::first-letter{
    font-size: 3em;
}